<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" *ngIf="authGuard.isloggedin()" routerLink="/gallery">Image Categorizer</a>
      <a class="navbar-brand" *ngIf="!authGuard.isloggedin()" routerLink="/gallery">Image Categorizer</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="authGuard.isloggedin()"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="/gallery">Gallery</a>
      </li>
      <li *ngIf="!authGuard.isloggedin()"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="/login">Login</a>
      </li>


      <li *ngIf="authGuard.isloggedin()"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="/profile">Profile</a>
      </li>

      <li *ngIf="authGuard.isloggedin()"><a class="dropdown-toggle" data-toggle="dropdown" (click)="logout()" style="pointer:cursor">Logout</a>
      </li>
      </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>



